extends ../layout

block append link
    link(rel='stylesheet', href='/static/css/index.css')

block content
    .grid-page.page-home
        .group-head
            section.section-head
                h1 iconfont
                .upload
                    a(href="javascript:;")#upload-btn 上传
        .group-main
            .grid-aside
                aside.aside-recent
                    .grid-title
                        h2 最近使用
                    .grid-content
                        ul#recent-icon
                aside.aside-star
                    .grid-title
                        h2 收藏
                    .grid-content
                        ul#star-icon
                aside.aside-added
                    .grid-title
                        h2 新增
                    .grid-content
                        ul#added-icon
            .grid-main
                section.section-filter
                    .search
                        input#search(placeholder="搜索关键词...")
                    .orderby
                        span.name 名称
                        span.time 时间
                        span.popular 热门
                section.section-list
                    ul#icon-list
                    script#icon-list-tmpl(type="tmpl").
                        <li>
                            <div class="icon">{{html svg}}</div>
                            <div class="name">{{= name}}</div>
                        </li>
        section.section-upload-container#upload-container
            .wrap#upload-wrap
                .upload
                    input.file#upload-file(type="file")
                    ul.queue#upload-queue
                    script#upload-queue-tmpl(type="tmpl").
                        <li data-id="{{= id}}">
                            <div class="icon">{{html svg}}</div>
                            <div class="name"><input type="text" placeholder="名称" value="{{= name}}1"></div>
                            <a href="javascript:;" class="del J_del">删除</a>
                        </li>
                    .action
                        a.submit#upload-submit(href="javascript:;", data-action="/upload/save") 提交
                .upload-tip#upload-tip

block append footScript
    script(src='/lib/underscore/underscore.js')
    script(src='/static/js/parseSVG.js')
    script(src='/static/js/index.js')