@font-face {
  font-family: '../dist/iconfont';
  src: url('../dist/iconfont.eot');
  src: url('../dist/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../dist/iconfont.woff') format('woff'), /* chrome、firefox */ url('../dist/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../dist/iconfont.svg#iconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont";
  font-size: 16px;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  line-height: 1.5;
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "宋体", Arial, Verdana, sans-serif;
  color: #333;
}
img {
  display: block;
  border: none;
}
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
:focus {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: normal;
}
/* layout */
.page-home .section-head {
  position: relative;
  height: 50px;
  margin-bottom: 10px;
  background: #333;
}
.page-home .section-head h1 {
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  color: #fff;
}
.page-home .section-head .upload {
  position: absolute;
  right: 10px;
  top: 14px;
  height: 22px;
  font-size: 14px;
  color: #fff;
}
.page-home .grid {
  overflow: hidden;
}
.page-home .grid-aside {
  float: left;
  width: 320px;
  min-height: 500px;
  border-right: 1px solid #ececec;
  margin-right: -1px;
}
.page-home .grid-main {
  margin-left: 320px;
  padding: 0 20px;
}
.page-home aside {
  padding: 20px;
}
.page-home aside .grid-title {
  height: 34px;
  border-bottom: 1px solid #ececec;
}
.page-home aside .grid-title h2 {
  font-size: 16px;
  line-height: 34px;
  color: #333;
}
.page-home .section-filter {
  height: 34px;
  padding: 10px 10px;
  overflow: hidden;
  border-bottom: 1px solid #ececec;
}
.page-home .section-filter .search {
  position: relative;
  float: left;
  margin-right: 20px;
}
.page-home .section-filter .search input {
  display: block;
  width: 140px;
  height: 28px;
  padding: 0 10px;
  line-height: 28px;
  border: 1px solid #ccc;
  background: transparent;
  border-radius: 12px;
}
.page-home .section-filter .orderby {
  float: left;
  height: 30px;
  margin-right: 20px;
}
.page-home .section-filter .orderby span {
  display: inline-block;
  padding: 0 10px;
  line-height: 30px;
}
.page-home .section-list ul {
  overflow: hidden;
}
.page-home .section-list li {
  float: left;
}
.page-home .section-list li {
  position: relative;
  float: left;
  width: 100px;
  padding: 10px;
  margin: 10px 0;
}
.page-home .section-list li .icon {
  margin: 0 auto 10px;
  width: 60px;
}
.page-home .section-list li .icon svg {
  display: block;
  width: 60px;
  height: 60px;
}
.page-home .section-list li .name {
  margin: 0 5px;
  font-family: Arial;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
}
.page-home .section-upload-container {
  display: none;
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.page-home .section-upload-container .wrap {
  position: absolute;
  left: 100px;
  top: 60px;
  right: 100px;
  bottom: 60px;
  border: 4px dashed #ccc;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}
.page-home .section-upload-container .upload {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 60px;
  box-sizing: border-box;
  overflow: auto;
}
.page-home .section-upload-container .upload .file {
  position: absolute;
  left: -100%;
  top: -100%;
  opacity: 0;
}
.page-home .section-upload-container .upload .queue {
  overflow: hidden;
}
.page-home .section-upload-container .upload .queue li {
  position: relative;
  float: left;
  width: 100px;
  padding: 10px;
  margin: 10px 0;
}
.page-home .section-upload-container .upload .queue li .icon {
  margin: 0 auto 10px;
  width: 60px;
}
.page-home .section-upload-container .upload .queue li .icon svg {
  display: block;
  width: 60px;
  height: 60px;
}
.page-home .section-upload-container .upload .queue li .name {
  margin: 0 5px;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  transition: background .1s linear;
}
.page-home .section-upload-container .upload .queue li .name input {
  display: block;
  border: none;
  width: 100%;
  height: 20px;
  box-sizing: border-box;
  font-family: Arial;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
}
.page-home .section-upload-container .upload .queue li .name input:not(:focus) {
  cursor: pointer;
}
.page-home .section-upload-container .upload .queue li .del {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  transition: opacity .1s linear;
}
.page-home .section-upload-container .upload .queue li:hover .name {
  border-color: #ccc;
}
.page-home .section-upload-container .upload .queue li:hover .del {
  opacity: 1;
}
.page-home .section-upload-container .upload .queue li.error .name {
  border-color: #F00;
}
.page-home .section-upload-container .upload .action {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}
.page-home .section-upload-container .upload .action .submit {
  display: inline-block;
  padding: 0 40px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  color: #ffffff;
  text-align: center;
  background: #333;
}
.page-home .section-upload-container .upload .action .submit:hover {
  background: #222222;
}
.page-home .section-upload-container .upload::-webkit-scrollbar {
  width: 5px;
  background: #eee;
}
.page-home .section-upload-container .upload::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 5px;
}
.page-home .section-upload-container .upload-tip {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  font-size: 20px;
  text-align: center;
  color: #888;
}
